<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ceTe.DynamicPdf.Conversion" type="ceTe.DynamicPDF.Conversion.ServiceConfig, DynamicPDF.Converter.Service"/>
	</configSections>
	<!--
    ceTe.DynamicPdf.Conversion Attribute Reference

    logLevel
    ========
    Values and their meaning:
    0 - No Logging (Default)
    1 - Log Errors
    2 - Log Warnings (includes 1)
    3 - Log Information (includes 1 and 2)
    ______________________________________
    
    timeOut
    =======
    Conversion time-out in miliseconds.
    Setting it to 0 will DISABLE the time-out feature.
    Default is 10 minutes (10 * 60 * 1000 = 600000)
    
  -->
	<ceTe.DynamicPdf.Conversion
		logLevel="0"
		timeOut="600000"
	/>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
